<%layout('layouts/boilerplate.ejs')%>

<div class="container">
    <h1 class="text-center mb-4 text-white"><%=p.name%></h1>
    <a class="btn glass text-white ms-3 mb-3" href="/healdesk/patient/<%=p._id%>/report/new">Add new report</a>
    
        
    
    <%for(let i =0;i<n;i++) {%>
    <div class="card text-center container glass">
        <div class="card-header">
            RID - <%=rid[i]%>
        </div>
        <div class="card-body">
          <h5 class="card-title">Doctor - <%=doctor[i]%></h5>
          <p class="card-text">Prescription - <%=prescription[i]%></p>
            <p class="card-text">Medicine - <%=medicines[i]%></p>
            <p class="card-text">Disease - <%=disease[i]%></p>
        </div>
        <div class="card-footer text-body-secondary">
            Date - <%=date[i]%>
        </div>
      </div>
      <%}%>

      <div><a class="btn ms-3 mt-3 mb-5 text-white btm glass" href="/healdesk/patient/<%=p._id%>">Back to All</a></div> 
    </div>